<div id="pod" class="site-section-video">
  <div class="article-mag-wrap">

    <header class="article-mag-header">
      <picture>
      <img src="//res.cloudinary.com/magnvs/image/upload/v1600403677/afudqyqtwgtd10ixjxdh.png" style="width:200px;">
    </picture>
          <h2 class="league-sm-white">DESDE EL MUSEO MUNICIPAL<br/>
        DE GUAYAQUIL</h2>
          <hr/>
      <p style="color:white;">
La Dirección de Cultura del Muy Ilustre Municipio de Guayaquil presenta un encuentro con el ARTE, la HISTORIA y la CULTURA de nuestra ciudad; un encuentro con sus PROTAGONISTAS, desde el Museo Municipal.
      </p>
</header>

  </div>

  <div class="row">

  <div class="col col-1">
  </div>

  <div class="col col-5 leftie">

    <iframe style="margin:0 0 2rem 0;padding: 0 12px;" height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/5e2c331c-002f-46c8-9240-21ba227478af?dark=true"></iframe>

    <p style="margin-left:3%;margin-right:1%;">Diálogo con el maestro Hernán Zúñiga, curador de la exposición “BICENTENARIO - TESTIMONIO HISTÓRICO DEL ARTE GUAYAQUILEÑO”, exposición que está por inaugurarse este 4 de septiembre (2020)en el Museo Municipal de Guayaquil,  ella reúne de manera presencial lo más destacado de la plástica guayaquileña de todos los tiempos.</p>

  </div>
  <div class="col col-5">
    <figure style="padding: 0 1em;">
    <img class="tilt" src="//res.cloudinary.com/magnvs/image/upload/v1598452534/nlytbc4flgptceb0jlnw.jpg"/>
    </figure>
  </div>
  <div class="col col-1">
  </div>

  </div><!-- END row -->

  <div class="row">

    <div class="col col-2">
    </div>

  <div class="col col-8">
  <div class="pod-brands">
      <h2 class="league-sm-white-btn">Escucha episodios anteriores</h2>
         <p>
         <a href="//podcasts.apple.com/ec/podcast/desde-el-museo-municipal/id1477126077" target="blank"><img style="width:230px;"src="/assets/apple-podcasts-blue.svg"/></a>
         <a href="//podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5zaW1wbGVjYXN0LmNvbS9tS0tST25FMg?sa=X&ved=0CAIQ4aUDahcKEwjoq6HF6PXrAhUAAAAAHQAAAAAQCg" target="blank"><img style="width:230px;" src="/assets/google-pod-blue.svg"/></a>
         <a href="//bitacora-de-museo.simplecast.com" target="blank"><img style="width:230px;" src="/assets/simplecast-blue.svg" /></a>
         <a href="//feeds.simplecast.com/mKKROnE2" target="blank"><img style="width:110px;" src="/assets/rss-feed-blue.svg"/></a>
         </p>
  </div>
  </div>

  <div class="col col-2">
  </div>

</div>
