<div class="slider-b">
  <div class="carousel-container">
    <div class="carousel">
        <input type="radio" name="slides" checked="checked" id="slide-1">
        <input type="radio" name="slides" id="slide-2">
        <input type="radio" name="slides" id="slide-3">
        <input type="radio" name="slides" id="slide-4">
        <input type="radio" name="slides" id="slide-5">
        <input type="radio" name="slides" id="slide-6">
        <input type="radio" name="slides" id="slide-7">
        <input type="radio" name="slides" id="slide-8">
        <input type="radio" name="slides" id="slide-9">
        <input type="radio" name="slides" id="slide-10">
        <ul class="carousel__slides">
            <li class="carousel__slide">
                <figure>
                    <div>
                        <img src="//res.cloudinary.com/magnvs/image/upload/v1599699396/rrlvkzts9vm379haando.jpg" alt="Delfina Pérez">
                    </div>
                    <figcaption>
                      <p>Delfina Pérez de Rendón</p>
<p><b>Vendedora napolitana</b><br/>
65 x 80 cm<br/>
Óleo sobre tela</p>
                        <span class="credit">1889</span>
                    </figcaption>
                </figure>
            </li>
            <li class="carousel__slide">
                <figure>
                    <div>
                        <img src="//res.cloudinary.com/magnvs/image/upload/v1599699567/ssuwxrsz9qqhnpkzaccs.jpg" alt="M. O. Ayavaca">
                    </div>
                    <figcaption>
                      <p>M. O. Ayavaca</p>
<p><b>Busto de Abel Castillo</b><br/>
55 x 38 x 30 cm<br/>
Yeso pintado</p>

                        <span class="credit">1906</span>
                    </figcaption>
                </figure>
            </li>
            <li class="carousel__slide">
                <figure>
                    <div>
                        <img src="//res.cloudinary.com/magnvs/image/upload/v1599697382/cfd8abfcsguzmchypmvj.jpg" alt="Eduardo Solá Franco">
                    </div>
                    <figcaption>
                      <p>Eduardo Solá Franco</p>
<p><b>Retrato de mujer</b><br/>
70 x 100 cm<br/>
Óleo sobre lienzo</p>

                        <span class="credit">s/f.</span>
                    </figcaption>
                </figure>
            </li>
            <li class="carousel__slide">
                <figure>
                    <div>
                        <img src="//res.cloudinary.com/magnvs/image/upload/v1599697973/hizm8fsftzaz9jixopcp.jpg" alt="Roura oxandaberro">
                    </div>
                    <figcaption>
                      <p>Roura Oxandaberro</p>
<p><b>La Ensenada Playas</b><br/>
60.5 x 40 cm<br/>
Óleo sobre textil</p>

                        <span class="credit">1935</span>
                    </figcaption>
                </figure>
            </li>
            <li class="carousel__slide">
                <figure>
                    <div>
                        <img src="//res.cloudinary.com/magnvs/image/upload/v1599696702/lx9k35oo5zemy2qbbqq0.jpg" alt="Enrique Tábara">
                    </div>
                    <figcaption>
                      <p>Enrique Tábara</p>
<p><b>Gris precolombino</b><br/>
300 x 150.5 cm<br/>
Óleo sobre lienzo</p>

                        <span class="credit">1967 - Primer Premio Salón de Julio</span>
                    </figcaption>
                </figure>
            </li>
            <li class="carousel__slide">
                <figure>
                    <div>
                        <img src="//res.cloudinary.com/magnvs/image/upload/v1599699686/yonbtem9f722b7pdevl7.jpg" alt="Roosevelt Cruz">
                    </div>
                    <figcaption>
                      <p>Roosevelt Cruz</p>
<p><b>Composición en ocre y rojo</b><br/>
201 x 101 cm<br/>
Óleo sobre textil</p>

                        <span class="credit">1974 - Primer Premio Salón de Julio</span>
                    </figcaption>
                </figure>
            </li>
            <li class="carousel__slide">
                <figure>
                    <div>
                        <img src="//res.cloudinary.com/magnvs/image/upload/v1599700406/d8vicwsosuycvzspv78h.jpg" alt="Félix Aráuz">
                    </div>
                    <figcaption>
                      <p>Félix Aráuz</p>
<p><b>Cabeza</b><br/>
114 x 150 cm<br/>
Óleo sobre triplex</p>

                        <span class="credit">1975 - Segundo Premio Salón de Julio</span>
                    </figcaption>
                </figure>
            </li>
            <li class="carousel__slide">
                <figure>
                    <div>
                        <img src="//res.cloudinary.com/magnvs/image/upload/v1599700046/pgkhz9xcid6xyfttagvy.jpg" alt="José Carreño">
                    </div>
                    <figcaption>
                      <p>José Carreño</p>
<p><b>La bestia en guerra con sus entrañas</b><br/>
130 x 140 cm<br/>
Óleo sobre textil</p>

                        <span class="credit">1975 - Primer Premio Salón de Julio</span>
                    </figcaption>
                </figure>
            </li>
            <li class="carousel__slide">
                <figure>
                    <div>
                        <img src="//res.cloudinary.com/magnvs/image/upload/v1599700570/mlvgdzrtfrfrfewiwhep.jpg" alt="Luis Gómez">
                    </div>
                    <figcaption>
                      <p>Luis Gómez</p>
<p><b>Retrato de Humberto Moré</b><br/>
50 x 20 x 20 cm<br/>
Fibra de vidrio patinado</p>

                        <span class="credit">1988</span>
                    </figcaption>
                </figure>
            </li>
            <li class="carousel__slide">
                <figure>
                    <div>
                        <img src="//res.cloudinary.com/magnvs/image/upload/v1599700647/pcklmopnkctd4qwnebcf.jpg" alt="Manuel Velasteguí">
                    </div>
                    <figcaption>
                      <p>Manuel Velasteguí</p>
<p><b>Quijote el trovador</b><br/>
240 x 80 x 60 cm<br/>
Reciclaje de metal</p>

                        <span class="credit">2020</span>
                    </figcaption>
                </figure>
            </li>
        </ul>
        <ul class="carousel__thumbnails">
            <li>
                <label for="slide-1"><img src="//res.cloudinary.com/magnvs/image/upload/v1599699396/noeuxoc2pzmaggbcdw2t.jpg" alt="Vendedora napolitana"></label>
            </li>
            <li>
                <label for="slide-2"><img src="//res.cloudinary.com/magnvs/image/upload/v1599699566/hguomclzzse2etjjyzbz.jpg" alt="Abel Castillo"></label>
            </li>
            <li>
                <label for="slide-3"><img src="//res.cloudinary.com/magnvs/image/upload/v1599697382/hpuxjiqj6xq4k8ccilzm.jpg" alt="Retrato de mujer desnuda"></label>
            </li>
            <li>
                <label for="slide-4"><img src="//res.cloudinary.com/magnvs/image/upload/v1599697973/xl6eiibmlbr6nzeamt4e.jpg" alt="Ensenada Playas"></label>
            </li>
            <li>
                <label for="slide-5"><img src="//res.cloudinary.com/magnvs/image/upload/v1599696066/bdtqewzikuejmspjwysy.jpg" alt="Gris precolombino"></label>
            </li>
            <li>
                <label for="slide-6"><img src="//res.cloudinary.com/magnvs/image/upload/v1599699686/qth7u3fcl9gaalgndmug.jpg" alt="Composición en ocre y rojo"></label>
            </li>
            <li>
                <label for="slide-7"><img src="//res.cloudinary.com/magnvs/image/upload/v1599700404/ckschgnmjt89cdyesmuo.jpg" alt="Cabeza"></label>
            </li>
            <li>
                <label for="slide-8"><img src="//res.cloudinary.com/magnvs/image/upload/v1599700044/nkzc2ekyeogqfs2iwdyf.jpg" alt="La bestia"></label>
            </li>
            <li>
                <label for="slide-9"><img src="//res.cloudinary.com/magnvs/image/upload/v1599700569/fugvivftgseumkc0xomr.jpg" alt="Retrato de Moré"></label>
            </li>
            <li>
                <label for="slide-10"><img src="//res.cloudinary.com/magnvs/image/upload/v1599700646/dcxrho6hinmorrayxw1i.jpg" alt="Quijote el trovador"></label>
            </li>
        </ul>
    </div>
</div>
</div>
