---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
<figure style="width:100%;">
  <img src="assets/poster-letras.jpg"/>
</figure>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "AUTORES GANADORES" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.genero }} · {{ post.prize}} </span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.author | escape }}
          </a>
        </h3>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>

        <p>  {{ post.excerpt | replace: "·", "..." }}</p>

      </li>
      {%- endfor -%}
    </ul>

<figure style="margin: 3.453em auto;"">
      <img src="/assets/main-logos-bi.svg"/>
    </figure>

<p class="rss-subscribe">Volver a <a href="{{ "//www.museoarteyciudad.com" | relative_url }}">Museo Arte y Ciudad</a></p>
  {%- endif -%}

</div>
